.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

img {
  width: 100%;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-end;
}
.tvshow {
  flex: 1 0 25%;
  margin: 30px;
  width: 25%;
}


@media only screen and (max-width: 600px) {
  .tvshow {
    margin: 0;
    width: 100%;
  }
}